@using GameList.ViewModels
@model GameList.ViewModels.GameViewModel

@{
    ViewData["Title"] = $"{Model.DisplayName}";
    var platforms = new List<GameViewPlatform>();
    if (Model.Platforms is not null) platforms = Model.Platforms;   
    var offset = Model.BannerOffset;
}

<div class="game-profile">
    <img class="banner" src="~/images/@Model.BannerUrl" style="object-position: center @offset%;"/>
 
    <div class="d-sm-inline-flex">

        <div class="game-left-column">
            <img class="cover" src="~/images/@Model.ImgUrl"/>

            <div>
                @if (Model.IsOnList == false){
                    <div class="game-btns1">
                        <form asp-controller="List" asp-action="Add" method="post">
                            <input type="hidden" name="game" value="@Model.Name"/>
                            <button class="btn btn-primary add-to-list" type="submit">Add To List</button>
                        </form>
                    </div>
                }
                else {
                    <div class="game-btns2">
                        <form asp-controller="List" asp-action="Remove" method="Post">
                            <input type="hidden" name="game" value="@Model.Name" />
                            <button class="btn btn-secondary" type="submit">Remove</button>
                        </form>
                        <button class="btn btn-primary">Favorite</button>
                    </div>
                }
                @if (platforms != null && platforms.Count > 0){
                    <div class="infoblock">
                        <h8>Platforms:</h8>
                        @{int i = 0;}
                        @foreach (var p in platforms)
                        {
                            i++;
                            <a class="nav-link" asp-controller="Game" asp-action="Platform" asp-route-name="@p.Name">@p.DisplayName</a>@(i < platforms.Count ? "," : "")
                        }
                    </div>  
                }
                <div class="infoblock">
                    <h8>GameList fans:</h8>
                    <p>@Model.FanCount</p>
                </div>
                <div class="infoblock">
                    @if (@Model.Developer is not null && Model.Developer != ""){
                    <h8>Developer: </h8><p>@Model.Developer</p>
                }
                </div>
                <div class="infoblock">
                    @if (@Model.Publisher is not null && Model.Publisher != ""){
                    <h8>Publisher:</h8>
                    <p>@Model.Publisher</p>
                }
                </div>
                <div class="infoblock">
                    @if (@Model.ReleaseYear is not null && Model.ReleaseYear != ""){
                    <h8>Released: </h8><p>@Model.ReleaseYear</p>
                }
                </div>
            </div>
        </div>
        <div>
        <h1 class="display-5">@Model.DisplayName</h1>
        <p class="game-desc">@Model.Desc</p>
    </div>
    </div>
</div>