@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Runtime.InteropServices
@model GameList.ViewModels.PlatformViewModel

@{
    ViewData["Title"] = $"{Model}";
    var offset = Model.BannerOffset;
}

<div class="game-profile">
    <img class="banner" src="~/images/@Model.BannerUrl" style="object-position: center @offset%;"/>
 
    <div class="d-sm-inline-flex">

        <div class="game-left-column">
            <img class="cover" src="~/images/@Model.ImgUrl"/>

            <div>
                @if (true){
                    <div class="game-btns1">
                        <button class="btn btn-primary add-to-list">Add To List</button>
                    </div>
                }
                else {
                    <div class="game-btns2">
                        <button class="btn btn-primary">Remove</button>
                        <button class="btn btn-primary">Favorite</button>
                    </div> <br />
                }
                    <div class="infoblock">
                        <h8>GameList fans: </h8>
                        <p>@Model.FanCount</p>
                    </div>
                @if (@Model.ReleaseYear is not null && Model.ReleaseYear != ""){
                    <div class="infoblock">
                        <h8>Released: </h8>
                        <p>@Model.ReleaseYear</p>
                    </div>
                }
                @if (@Model.Company is not null && Model.Company != ""){
                    <div class="infoblock">
                        <h8>Company: </h8>
                        <p>@Model.Company</p>
                    </div>
                }
            </div>
        </div>
        <div>
        <h1 class="display-5">@Model.DisplayName</h1>
        <p class="game-desc">@Model.Desc</p>
    </div>
    </div>
</div>