@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Runtime.InteropServices
@model GameList.ViewModels.PlatformViewModel

@{
    ViewData["Title"] = $"{Model}";
    var offset = Model.BannerOffset;
}

<div class="game-profile">
    <img class="banner" src="~/images/@Model.BannerUrl" style="object-position: center @offset%;"/>
 
    <div class="d-sm-inline-flex">

        <div class="game-left-column">
            <img class="cover" src="~/images/@Model.ImgUrl"/>

            <div>
                @if (true){
                    <div class="game-btns1">
                        <button class="btn btn-primary add-to-list">Add To List</button>
                    </div> <br />
                }
                else {
                    <div class="game-btns2">
                        <button class="btn btn-primary">Remove</button>
                        <button class="btn btn-primary">Favorite</button>
                    </div> <br />
                }
                    <h8>Fans on GameList</h8>
                    <p class="text-end">@Model.FanCount</p>
                @if (@Model.ReleaseYear is not null){
                    <h8>Release date</h8>
                    <p class="text-end">@Model.ReleaseYear</p>
                }
                @if (@Model.Company is not null){
                    <h8>Company</h8>
                    <p class="text-end">@Model.Company</p>
                }
            </div>
        </div>
        <div>
        <h1 class="display-5">@Model.Name.Replace('_',' ')</h1>
        <p class="game-desc">@Model.Desc</p>
    </div>
    </div>
</div>